extends layout.pug

block content
  div#container
    h1
      | TO-DO LIST
      i#opener.fa.fa-plus
    ul
      each todo in todos
        li
          span
            i.fa.fa-trash-o
          |  #{todo.description}
    div#dialog
      form
        | New Todo: 
        input(type='text', name='new-todo')
        br
        | Due:
        input(type='text', name='due')
