extends layout.pug

block content
  div#container
    h1
      | TO-DO LIST
      i#opener.fa.fa-plus
    ul
      each todo in todos
        - var id = todo.id
        li.list-item(id=id)
          span#trash
            i.fa.fa-trash-o
          |  #{todo.description}
          span#pencil
            i.fa.fa-pencil
    div#newDialog
      form#new-form-data
        | New Todo: 
        input(type='text', name='description', id='newDesc')
    div#updateDialog
      form#update-form-data
        | Update Todo: 
        input(type='text', name='description' id='updDesc')
					
