extends layout.pug

block content
  div#container
    h1
      | TO-DO LIST
      i#opener.fa.fa-plus
    ul
      each todo in todos
        - var id = todo.id
        li.list-item(id=id)
          span
            i.fa.fa-trash-o
          |  #{todo.description} #{id}
    div#dialog
      form#form-data
        | New Todo: 
        input(type='text', name='description')
        br
        | Due:
        input(type='text', name='due')
					
